body {
  height: 100vh;
  height: 100svh;

  display: grid;
}

main {
  height: 100%;
}

.top-container {
  background: center / cover no-repeat url("../images/pattern-bg-mobile.png");
}

@media (min-width: 30rem) {
  .top-container {
    background: center / cover no-repeat url("../images/pattern-bg-desktop.png");
  }
}
