@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-500 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.rubik-700 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
:root {
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);

  --white: hsl(0, 0%, 100%);

  --black: hsl(0, 0%, 0%);
}
body {
  height: 100vh;
  height: 100svh;

  display: grid;
}

main {
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
  /* height: max-content; */
}
input {
  all: unset;
  background-color: var(--white);
  border-radius: 1rem 0 0 1rem;

  /* Mobile */
  /* width: 16.8rem; */
  /* text-indent: 1.5rem; */
  /* Desktop */
  width: 31rem;
  padding-inline-end: 0rem;
  text-indent: 1.5rem;
  font-size: 1.13rem;
}
input:hover {
  cursor: pointer;
}
.ip-container {
  grid-row: 1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Mobile */
  /* padding-block-start: 1.5rem; */
  /* gap: 1.5rem; */
  /* Desktop */
  padding-block-start: 1.7rem;
  gap: 1.3rem;
}

.ip-container > h1 {
  color: var(--white);
  /* Mobile */
  /* font-size: 1.53rem; */
  /* Desktop */
  font-size: 1.9rem;
}

picture {
  grid-row: 1;
  grid-column: 1 / -1;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-container {
  display: grid;
  position: relative;
  height: fit-content;
  /* background: center / cover no-repeat url("../images/pattern-bg-mobile.png"); */
}
.info-container {
  background-color: var(--white);
  z-index: 20;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  transition: 0.5s ease;
  border-radius: 1rem;

  /* Mobile */
  /* gap: 1.25rem; */
  /* bottom: -10.2rem; */
  /* left: 1.5rem; */
  /* padding-inline: 4.4rem; */
  /* padding-block: 1.5rem 1.3rem; */
  /* Desktop */
  gap: 2rem;
  bottom: -5.2rem;
  left: 9.8rem;
  padding-inline: 2rem;
  padding-block: 2.1rem 3rem;
}
.info-stat {
  /* padding-block: 2.1rem 4rem; */
  padding-block-end: 1rem;
  display: flex;
  flex-direction: column;
  border-right: 0;
  align-items: center;

  /* Mobile */
  /* gap: 0.2rem; */
  /* Desktop */
  gap: 0.4rem;
  padding-inline-end: 3.7rem;
}

.info-stat > h2 {
  color: var(--Dark-Gray);
  /* Mobile */
  /* font-size: 0.6rem; */
  /* letter-spacing: 0.1rem; */
  /* Desktop */
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
}

.info-stat > p {
  color: var(--Very-Dark-Gray);
  /* Mobile */
  /* font-size: 1.25rem; */
  /* Desktop */
  font-size: 1.6rem;
  width: 11.5ch;
}
#map {
  height: 100%;

  z-index: 0;
}
.search-bar {
  display: flex;
}
.search-btn {
  background-color: var(--black);

  border-radius: 0 1rem 1rem 0;
  /* Mobile */
  /* padding-inline: 1.45rem; */
  /* padding-block: 1.4rem; */
  /* Desktop */
  padding-inline: 1.45rem;
  padding-block: 1.4rem;
}

.search-btn:hover {
  cursor: pointer;
}

@media (min-width: 30rem) {
  .info-container {
    flex-direction: row;
  }

  .info-stat {
    align-items: flex-start;
    border-right: 1px solid var(--Dark-Gray);
  }

  .info-stat:last-child {
    border-right: 0;
  }
  .top-container {
    /* background: center / cover no-repeat url("../images/pattern-bg-desktop.png"); */
  }
}
