@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-500 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.rubik-700 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
:root {
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);

  --white: hsl(0, 0%, 100%);

  --black: hsl(0, 0%, 0%);
}
body {
  height: 100vh;
  height: 100svh;

  display: grid;
}

main {
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
  /* height: max-content; */
}
input {
  all: unset;
  background-color: var(--white);
  border-radius: 1rem 0 0 1rem;
  padding-inline-end: 5rem;
  text-indent: 1.5rem;
}
input:hover {
  cursor: pointer;
}
.ip-container {
  grid-row: 1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block-start: 1.5rem;
  gap: 1.5rem;
}

.ip-container > h1 {
  font-size: 1.53rem;
  color: var(--white);
}

picture {
  grid-row: 1;
  grid-column: 1 / -1;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-container {
  display: grid;
  position: relative;
  height: fit-content;
  /* background: center / cover no-repeat url("../images/pattern-bg-mobile.png"); */
}
.info-container {
  background-color: var(--white);
  z-index: 20;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1.25rem;
  border-radius: 1rem;

  bottom: -12rem;
  left: 2rem;

  padding-inline: 4.4rem;
  padding-block: 1.5rem 1.3rem;
}
.info-stat {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 0.2rem;
}
.info-stat > h2 {
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: var(--Dark-Gray);
}

.info-stat > p {
  color: var(--Very-Dark-Gray);
  font-size: 1.25rem;
}
#map {
  height: 100%;

  z-index: 0;
}
.search-bar {
  display: flex;
}
.search-btn {
  background-color: var(--black);

  border-radius: 0 1rem 1rem 0;
  padding-inline: 1.45rem;
  padding-block: 1.4rem;
}

.search-btn:hover {
  cursor: pointer;
}

@media (min-width: 30rem) {
  .top-container {
    /* background: center / cover no-repeat url("../images/pattern-bg-desktop.png"); */
  }
}
